{%extends 'profile.html'%}
{%block main%}
    <link rel="stylesheet" href="/static/css/signin.css">
    <div id="body">
        <main>
            {%if form%}
                <form id="form" action="/user/forget_pass" method="POST">
                    {%csrf_token%}
                    {{form.phone.label_tag}}
                    {{form.phone}}
                    {{form.phone.errors}}
                    <div>{{error}}</div>
                    <button>Напомнить</button>
                </form>
            {%else%}
                <form id="form" action="">
                    <label>Запрос успешно отправлен. Проверьте почтовый ящик.</label>
                </form>
            {%endif%}
        </main>
        <footer class="container">
            <img src="/static/image/appstoreWhite.svg" alt="" id="appstore">
            <img src="/static/image/googleWhite.svg" alt="" id="googleplay">
            <div id="copyright">
                <a href="">Политика конфиденциальности</a>
            </div>
        </footer>
    </div>
{%endblock%}