{%extends 'index.html'%}
{%block body%}
	<link rel="stylesheet" href="/static/css/font-awesome-5.0/css/all.min.css">
    <div id="body">
        <main class="main-block">
		<div class="dvm-search-block">
			<div class="dvm-search">
                <input type="text" name="Search" placeholder="Search" title="Search" required="" id="Search">
				<span class="dvm-search-input"></span>
			</div>
			<div class="dvm-icon-block"><i class="fal fa-star"></i></div>
			<div class="dvm-icon-block"><i class="fal fa-filter"></i></div>
			<div class="dvm-icon-block"><i class="fal fa-bars"></i></div>
		</div>

















            
			</main>
            </div>
{%endblock%}